*{
  background: #FFF8EF;
    font-family: 'Quicksand', sans-serif;
}
.header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  
  }
  .picfurnider {
    width: 80%;
    grid-column: 1 / span 1;
  }
  
  .searchinput{
    width: 100%;
    grid-column: 2 / span 2;
  }
  .textinput {
    /* grid-column: 2 / span 2; */
    margin-top: 25px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    background-color: #E5E5E5;
    background-image: url(../pic/Search1.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding: 12px 20px 12px 40px;
  }
  
  ul.iconmenu {
    grid-column: 4 / span 4;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    list-style: none;
    position: absolute;
    right: 160px;
    top: 0px;
  }
  
  ul.iconmenu li a {
    /* margin-right: 0.5rem; */
    text-decoration: none;
    color: black;
  }
  
  .carticon {
    width: 26px;
    height: 26px;
  }
  
  .usericon {
    width: 26px;
    height: 26px;
  }
  
  ul.logRe {
    grid-column: 4 / span 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    position: absolute;
    right: 5px;
    top: 0px;
  }
  
  ul.logRe li a {
    /* margin-right: 0.5rem; */
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
  }
  
  hr {
    color: #DDA24A;
    background-color: #DDA24A;
  }


  .profile-image {
    top: 242px;
    left: 0px;
    right: 0px;
    width: 404px;
    height: 392px;
    margin: auto;
    position: absolute;
    align-self: center;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(254, 205, 132, 1);
  }
  .profile-name {
    top: 744px;
    left: 540px;
    width: 424.7875061035156px;
    height: 34.5px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .profile-textname {
    top: 0px;
    left: -29px;
    position: absolute;
    font-size: 30px;
    align-self: center;
  }
  .profile-textname2 {
    right: 59px;
    bottom: -4px;
    position: absolute;
    font-size: 30px;
    align-self: center;
  }
  .profile-email {
    top: 860px;
    left: 538px;
    width: 424.7875061035156px;
    height: 34.5px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .profile-textemail {
    top: 0px;
    left: -29px;
    position: absolute;
    font-size: 30px;
    align-self: center;
  }
  .profile-textemail2 {
    top: 0px;
    right: -200px;
    position: absolute;
    font-size: 30px;
    align-self: center;
  }
  .profile-phone {
    top: 970px;
    left: 540px;
    width: 424.7875061035156px;
    height: 34.5px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .profile-tel {
    top: 0px;
    left: -29px;
    position: absolute;
    font-size: 30px;
    align-self: center;
  }
  .profile-num {
    top: 0px;
    right: 80px;
    position: absolute;
    font-size: 30px;
    align-self: center;
  }



  @media(max-width: 800px) {

    .header-container {
      width: 100%;
      display: grid;
      grid-template-columns: 25% 50% 25%;
    }
  
    .picfurnider {
      width: 100%;
      grid-column: 1 / span 1;
    }
    .searchinput {
      grid-column: 1 / span 3;
    }
  
    .textinput {
      width: 100%;
      margin-top: 25px;
      box-sizing: border-box;
      border: none;
      border-radius: 9px;
      font-size: 16px;
      background-color: #E5E5E5;
      background-image: url("pic/Search.png");
      background-position: 5px 5px;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      padding: 12px 20px 12px 40px;
    }
  
    ul.iconmenu {
      grid-column: 3 / span 1;
    
    }
  
    ul.iconmenu li a {
      margin-right: 0.5rem;
      text-decoration: none;
      color: black;
    }
  
    .carticon {
      width: 26px;
      height: 26px;
    }
  
    .usericon {
      width: 26px;
      height: 26px;
    }
  
    ul.logRe {
      grid-column: 3 / span 1;
  
    }
  
    ul.logRe li a {
      margin-right: 0.5rem;
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: lighter;
      font-family: 'Quicksand', sans-serif;
    }
  
    hr {
      background-color: #DDA24A;
    }
    .profile-image {
      top: 242px;
      left: 0px;
      right: 0px;
      width: 404px;
      height: 392px;
      margin: auto;
      position: absolute;
      align-self: center;
      object-fit: cover;
      border-color: transparent;
      border-radius: 10px;
      background-color: rgba(254, 205, 132, 1);
    }
    .profile-name {
      top: 744px;
      left: 150px;
      width: 424.7875061035156px;
      height: 34.5px;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
    }
  
    .profile-email {
      top: 860px;
      left: 150px;
      width: 424.7875061035156px;
      height: 34.5px;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
    }
  
    .profile-textemail2 {
      top: 0px;
      right: -100px;
      position: absolute;
      font-size: 30px;
      align-self: center;
    }
    .profile-phone {
      top: 970px;
      left: 150px;
      width: 424.7875061035156px;
      height: 34.5px;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
    }



    @media(max-width: 500px) {

      .header-container {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
      }
    
      .picfurnider {
        width: 70%;
        grid-column: 1 / span 1;
      
      }
    
      .searchinput {
        width: 100%;
        grid-column: 1 / span 2;
      }
    
      .textinput {
        margin-top: 25px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 9px;
        font-size: 16px;
        background-color: #E5E5E5;
        background-image: url("pic/Search.png");
        background-position: 5px 5px;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        padding: 12px 20px 12px 40px;
      }
    
      ul.iconmenu {
        grid-column: 2 / span 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        position: absolute;
        right: 160px;
        top: 0px;
      }
    
      ul.iconmenu li a {
        margin-right: 0.5rem;
        text-decoration: none;
        color: black;
      }
    
      .carticon {
        width: 26px;
        height: 26px;
      }
    
      .usericon {
        width: 26px;
        height: 26px;
      }
    
      ul.logRe {
        grid-column: 2 / span 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        position: absolute;
        right: 5px;
        top: 0px;
      }
    
      ul.logRe li a {
        margin-right: 0.5rem;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: lighter;
        font-family: 'Quicksand', sans-serif;
      }
    
      hr {
        color: #DDA24A;
        background-color: #DDA24A;
      }

      .profile-name {
        top: 744px;
        left: 50px;
        width: 424.7875061035156px;
        height: 34.5px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
      }

      .profile-textname2 {
        right: 59px;
        bottom: -4px;
        position: absolute;
        font-size: 25px;
        align-self: center;
      }
      .profile-email {
        top: 860px;
        left: 45px;
        width: 424.7875061035156px;
        height: 34.5px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
      }
  
      .profile-textemail2 {
        top: 5px;
        right: -3px;
        position: absolute;
        font-size: 25px;
        align-self: center;
      }
      .profile-phone {
        top: 970px;
        left: 50px;
        width: 424.7875061035156px;
        height: 34.5px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
      }
      .profile-tel {
        top: 0px;
        left: -29px;
        position: absolute;
        font-size: 30px;
        align-self: center;
      }
      .profile-num {
        top: 0px;
        right: 80px;
        position: absolute;
        font-size: 25px;
        align-self: center;
      }
  }
}
  

  